/* MODAL */

#modal_container {
    width: 100%;
    height: 100%;
    position: absolute;
}

#modal_background {
    width: inherit;
    height: inherit;
    opacity: 0.8;
    position: inherit;
    background-image: linear-gradient(rgb(84, 84, 84), #363636);
    /* #222222 */
}

#modal {
    width: fit-content;
    height: fit-content;
    position: absolute;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
    background-color: #2c2c2c;
    border-radius: 1em;
    filter: drop-shadow(0px 0px 4px #2c2c2c);
}

#modal_content {
    padding: 1em;
    max-width: 50vw;
}


/* CONTENT */

.modal_2_col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* CLOSE BUTTON */

#modal_close_button {
    width: 1.3em;
    height: 1.3em;
    position: absolute;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: auto;
    right: 0px;
}

#modal_close_button_background {
    width: inherit;
    height: inherit;
    background-color: #FFFFFF;
    opacity: 0.2;
    position: absolute;
    border-radius: 50%;
    transition: 0.2s ease;
}

#modal_close_button_background:hover {
    opacity: 0.5;
    transition: 0.2s ease;
}

#modal_close_button_content {
    width: inherit;
    height: inherit;
    color: #FFFFFF;
    font-weight: 800;
    text-align: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}


/* MODAL CONTROLS */

#modal_controls {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.modal_control {
    display: flex;
    border-radius: 0.75em;
    cursor: pointer;
    min-width: 80px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 10px 0px 10px;
    transition: 0.2s ease;
}

.modal_control p {
    padding: 0.5em;
}

#modal_cancel {
    background-color: #cc6c6c;
    filter: unset;
}

#modal_cancel:hover {
    background-color: #e07878;
    filter: drop-shadow(0px 0px 2px #e07878);
}

#modal_confirm {
    background-color: #51c4a7;
    filter: unset;
}

#modal_confirm:hover {
    background-color: #5eddbd;
    filter: drop-shadow(0px 0px 2px #5eddbd);
}

#modal_info {
    background-color: #5696ca;
    filter: unset;
}

#modal_info:hover {
    background-color: #61a8e2;
    filter: drop-shadow(0px 0px 2px #61a8e2);
}

.modal_button_default {
    background-color: #838383;
    filter: unset;
}

.modal_button_default:hover {
    background-color: #979797;
    filter: drop-shadow(0px 0px 2px #979797);
}

.modal_title_padding {
    margin-right: 20px;
}

.modal_list_ul {
    padding: revert;
    list-style-type: disc;
}

.modal_list_li {
    display: list-item;
    color: #FFFFFF;
}