::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #929292;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #505050;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #616161;
}